<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contrasenia</title>
</head>
<body>

<div>
  <h2>Contraseña</h2>
  <span style="color:red">&#42;</span><label for="contrasenia" th:text="${contrasenia}"></label>
  <input type="text"
         id="contrasenia"
         th:placeholder="${placeholder}"
  >
  <!--th:field="*{nombre};-->
  <!--<ul>-->
  <!--  <li th:each="err : ${#fields.errors('nombre')}" th:text="${err}" class="error"></li>-->
  <!--</ul>-->
</div>

</body>
</html>