<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <title>Página de Contraseña</title>
  <link rel="stylesheet" th:href="@{/css/estilosPass.css}">
  <script th:src="@{/js/funciones.js}"></script>
</head>
<body>
<div class="container">
  <h1>Introduzca la contraseña de <span th:text="${usuario}"></span></h1>
  <!-- Formulario para cambiar la contraseña -->
  <form action="/check-password" method="post">
    <!--<input type="hidden" name="username" th:value="${usuario}">-->

    <label for="contrasenia">Contraseña:</label>
    <input type="password" id="contrasenia" name="contrasenia" autofocus>

    <input type="checkbox" name="checkbox" id="checkbox" onchange="verContrasenia()">
    <label for="checkbox">Ver Contraseña</label>

    <button type="submit">Siguiente</button>

  </form>
  <p style="color:red;" th:if="${error}" th:text="${error}"></p>
</div>
</body>
</html>
