<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Página de Contraseña</title>
  <script th:src="@{/js/funciones.js}"></script>
</head>
<body>
<h1>Cambiar Contraseña para <span th:text="${usuario}"></span></h1>
<!-- Formulario para cambiar la contraseña -->
<form action="/check-password" method="post">
  <input type="hidden" name="username" th:value="${usuario}">

  <label for="contrasenia">Contraseña Actual:</label>
  <input type="password" id="contrasenia" name="contrasenia">

  <input type="checkbox" name="checkbox" id="checkbox" onchange="verContrasenia()">
  <label for="checkbox">Ver Contraseña</label>

  <button type="submit">Siguiente</button>

</form>
<p style="color:red;" th:if="${error}" th:text="${error}"></p>




</body>
</html>
