<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Página de Usuario</title>
</head>
<body>
<h1>Bienvenido, Usuario</h1>
<!-- Formulario para introducir el nombre de usuario -->
<!-- Muestra mensaje de error si no existe -->
<p style="color:red;" th:if="${error}" th:text="${error}"></p>
<form action="/check-usuario" method="post">
    <label for="usuario">Nombre de Usuario:</label>
    <input type="text" id="usuario" name="usuario">
    <button type="submit">Enviar</button>
</form>
</body>
</html>
