<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Página de Usuario</title>
</head>
<body>
<h1>Bienvenido, Usuario</h1>
<!-- Formulario para introducir el nombre de usuario -->
<form action="/usuario" method="post    " th:object="${Datos}">
    <label for="username">Nombre de Usuario:</label>
    <input type="text" id="username"
           th:field="*{usuario}">

    <button type="submit">Enviar</button>
</form>
<div> Interacciones: <th:block th:text="${username}"/> </div>
</body>
</html>
